<%- layout('./layout/boilerplate') %>

<div class="min-h-screen flex items-center justify-center px-4 sm:px-6 lg:px-8">
  <div class="bg-white p-8 mx-auto rounded-xl shadow-lg w-full max-w-4xl border-2">
    <h2 class="text-3xl font-extrabold text-gray-900 mb-6 text-center">Create Your Account</h2>
    <form action="/register" method="POST" id="registerationForm">
      <!-- Form Grid -->
      <div class="space-y-4 md:space-y-0 md:grid md:grid-cols-2 md:gap-6">
        <!-- Email -->
        <div>
          <label for="email" class="block text-sm font-medium text-gray-700">Your Email</label>
          <input type="email" id="email" name="email" placeholder="name@provider.com" required
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none 
            focus:ring-blue-500 focus:border-blue-500 sm:text-sm invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-700">
        </div>
        <!-- Address -->
        <div>
          <label for="address" class="block text-sm font-medium text-gray-700">Your Address</label>
          <input type="text" id="address" name="address" placeholder="Area, House no., Road no." required
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none 
            focus:ring-blue-500 focus:border-blue-500 sm:text-sm invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-700">
        </div>
        <!-- Username -->
        <div>
          <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
          <input type="text" id="username" name="username" placeholder="taljamri" required
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-700">
        </div>
        <!-- Password -->
        <div>
          <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
          <input type="password" id="password" name="password" placeholder="••••••••" required
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-700">
        </div>
        <!-- Full Name -->
        <div>
          <label for="fullName" class="block text-sm font-medium text-gray-700">Full Name</label>
          <input type="text" id="fullName" name="fullName" placeholder="e.g. Taha Aljamri" minlength="2" required
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-700">
        </div>
        <!-- Phone Number -->
        <div>
          <label for="phoneNumber" class="block text-sm font-medium text-gray-700">Phone Number</label>
          <div class="relative flex items-stretch border rounded-md">
            <span
              class="inline-flex items-center px-3 text-sm text-gray-700 bg-gray-200 border-gray-300 rounded-l-md">
              +973
            </span>
            <input type="text" id="phoneNumber" name="phoneNumber" minlength="8" placeholder="38820989"
              aria-label="contact" aria-describedby="addon-wrapping" required
              class="appearance-none py-2 px-3 w-full leading-tight peer text-sm border-gray-300 rounded-r-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-700"
              pattern="^[0-9]{8}$">
          </div>
        </div>
      </div>

    

    
      <!-- Terms and Conditions -->
      <div class="mt-6">
        <label class="flex items-center text-sm text-gray-600">
          <input type="checkbox" class="h-4 w-4 text-blue-600 border-gray-300 rounded focus:ring-blue-500" required>
          <span class="ml-2">By signing up, you agree to the <a href="#" class="text-blue-600 hover:underline">Terms of
              Use</a></span>
        </label>
        <label class="flex items-center text-sm text-gray-600 mt-3">
          <input type="checkbox" class="h-4 w-4 text-blue-600 border-gray-300 rounded focus:ring-blue-500">
          <span class="ml-2">Email me about product updates and resources.</span>
        </label>
      </div>

      <!-- Register Button -->
      <div class="mt-6">
        <button type="submit" id="registerationButton"
          class="w-full bg-gradient-to-r from-[#121212] to-[#1E1E49] text-white py-2 px-4 rounded-md shadow-md hover:to-[#1E1E49] hover:from-[#000000] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 transition duration-300">
          Create an account
        </button>
      </div>

        <!-- Divider -->
        <div class="flex items-center justify-between my-6">
          <hr class="w-full border-gray-300">
          <span class="px-3 text-gray-500 text-sm">or</span>
          <hr class="w-full border-gray-300">
        </div>
      <!-- Already Have Account -->
      <div class="mt-6 text-center text-sm text-gray-600">
        Already have an account? <a href="/login" class="text-blue-600 hover:underline">Login here</a>.
      </div>
    </form>
  </div>
</div>

<script src="./js/registerPageValidation.js"></script>